input,
textarea {
  caret-color: transparent !important;
}

.my-input {
  caret-color: transparent;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-layout {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 250px;
  background-color: #0a192f;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.navbar {
  background-color: #112240;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.module-viewer {
  flex: 1;
  background-color: white;
  padding: 10px;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}
/* === GLOBAL CARET HIDE === */
input,
textarea {
  caret-color: transparent !important;
}
.um-field input {
  caret-color: transparent !important;
}
